{# Submenu in header nav, mobile #}

<style>
	/* Full CSS in header.css. @style rule animates the display property. */
	.menu-main--mobile li.menu-item-has-children.open .menu-main--mobile-submenu {
		@starting-style {
			opacity: 0;
		}
	}
</style>

{% if items %}
{#  @todo remove "hidden" and make this nav visible on click #}
	<ul class="{{ menu_wrapper_classes }} menu-main--mobile-submenu pt-sm flex-col
	gap-y-sm">
	{% set menu_wrapper_classes = '' %}
	{% for item in items %}
		<li class="menu-item ts-text-high-contrast body-sm">
			<a target="{{ item.target }}" href="{{ item.link }}" class="hocus-underline hocus-action">{{ item.title
				}}</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}
