{# Banner -- centered
 *
 * See banner.html.twig for full variables.
#}

{% set aspect_ratio = " aspect-[21/9] " %}
{% set image_classes = " lazyloaded object-cover w-full " ~ aspect_ratio %}
{% set image_wrapper_classes = " overflow-hidden " ~ aspect_ratio %}

{% set padding = "" %}

<span class="hidden lg:aspect-[21/9]"></span>

<div class="block--banner--fullbleed flex flex-col-reverse md:flex-col relative ts-bg-brand-1 {{ padding }}">

  {# Image #}
  <div class="banner--center-image-wrapper -mt-2xl md:mt-0 z-0 {{ image_wrapper_classes }} {{ colorway }}">
    {% include 'molecules/image/media.twig' with {
      image: image,
      classes: image_classes,
      caption_style: "hidden",
      bg_figcaption: "",
      figcaption_classes: 'ts-text-low-contrast p-2xs lg:px-0 lg:pb-0 absolute left-md bottom-0'
    } %}
  </div>

  <div class="xl:container p-site">
    {# Text Wrapper #}
    <div class="ts-bg-lt mt-4xl md:-mt-[150px] mx-auto rounded-2xl relative z-5 md:w-[80%] p-base md:p-3xl">
      {% include "molecules/section-title/section-title.twig" with {
        eyebrow: eyebrow,
        header: title,
        text: text,
        primary_btn: primary_btn,
        secondary_btn: secondary_btn,
        secondary_btn: secondary_btn,
        style: "center",
        header_tag: is_hero ? "h1" : "h2",
        margin: ""
      } %}
    </div>  {# Closes Text wrapper #}
  </div>

</div>
