{# Image and Text
 *
 * Configuration options:
 *  image align:
 *   - Left | left
 *   - Right | right
 *   Inset or full width
 *   align_img (left, right (default)
 *
 * Fields:
 * - eyebrow
 * - title
 * - text
 * - primary_btn
 * - secondary_btn
 * - presentation
 * - image
#}

{% set image_align_classes = "left" in presentation|split('-') ? 'order-2' : '' %}
{% set align_left = "left" in presentation|split('-') ? 1 : 0 %}
{% set alignment = align_left ? "left" : "right" %}
{% set padding = "inset" in presentation|split('-') ? "md:my-6xl ts-friendly" : "my-block-sm
ts-lovey"
%}

<div class="block--image-text ts-bg-lt {{ padding }} xl:container p-site">
  <div class="md:ts-grid-col-2 md:gap-7xl md:justify-between">

    {# Image #}
    <div class="{{ image_align_classes }} mb-xs md:mb-0">
      {% include 'components/image.twig' with {
        image: image,
        classes: 'aspect-square object-cover max-h-[300px] md:max-h-[inherit] w-full',
        caption_style: "below",
        bg_figcaption: "ts-bg-lt",
        figcaption_classes: 'ts-text-low-contrast p-2xs lg:px-0 lg:pb-0'
      } %}
    </div>

    {# Text Wrapper #}
    <div class="flex flex-col items-justified-center md:-w-[5/12]">
      <div>
      {% include "components/section-title/section-title.twig" with {
        eyebrow: eyebrow,
        header: title,
        text: text,
        primary_btn: primary_btn,
        secondary_btn: secondary_btn,
        secondary_btn: secondary_btn,
        style: alignment,
      } %}

      </div>

    </div> {# Closes Text wrapper #}
  </div>
</div>