
{% include 'blocks/accordion/accordion.html.twig' with {
  accordion: [
    { title: "Discrimination", content: "<p>In May, parliament adopted changes to the Criminal and Criminal Procedure Codes to align them with international criminal law, extending the definition of aggression, crimes against humanity and other specific war crimes, lifting their statute of limitation and providing for universal jurisdiction. The President did not sign these changes into law by year's end, however, and the Rome Statute of the International Criminal Court remained unratified.</p>" },
    { title: "Crimea", content: "<p>In May, parliament adopted changes to the Criminal and Criminal Procedure Codes to align them with international criminal law, extending the definition of aggression, crimes against humanity and other specific war crimes, lifting their statute of limitation and providing for universal jurisdiction. The President did not sign these changes into law by year's end, however, and the Rome Statute of the International Criminal Court remained unratified.</p>" },
    { title: "Donbas", content: "<p>In May, parliament adopted changes to the Criminal and Criminal Procedure Codes to align them with international criminal law, extending the definition of aggression, crimes against humanity and other specific war crimes, lifting their statute of limitation and providing for universal jurisdiction. The President did not sign these changes into law by year's end, however, and the Rome Statute of the International Criminal Court remained unratified.</p>" }
  ]
} %}
