{# Desktop Nav #}

<nav id="nav-main" class="nav-main nav-main--desktop hidden md:flex flex-row" role="navigation">
  {# Top level nav #}
  {% include "components/nav/menu--header.twig" with { 'items': header_menu.get_items } %}
  <div class="nav-main__cta flex flex-row gap-x-lg ml-lg">
  </div>
  <div class="nav-main__search flex gap-sm items-center">
    <div class="flex flex-row-reverse gap-sm">
    {# CTAs #}
    {% include "btns/btn-two-up.twig" with {
      primary_btn: { title: 'Donate', url: '/' },
      secondary_btn: { title: 'Secondary CTA', url: '/' },
      size: 'md'
    } %}
    </div>

    {# Search #}
    {% include "btns/btn-icon.twig" with {
      link: {title: 'search', url: '/search'},
      link_svg_name: "search",
      size: "md"
    } %}

  </div>
</nav>
