{# Section title -- Centered
 *
 * See variables in section-title.twig.
#}

<div class="component--section-title--center text-center flex flex-col md:items-center gap-sm mb-base md:mb-xl">

  {# Text wrapper #}
  <div class="md:max-w-[{{ description_max_width }}]">

    {# Text #}
    {% include "components/section-title/section-title--text.twig" with {
      eyebrow: eyebrow,
      header: header,
      text: text
    } %}

  </div>

  {% if primary_btn or secondary_btn %}
    {# Button wrapper #}
    <div class="md:block shrink-0">
      <div class="flex flex-col md:flex-row gap-md">

        {# Button(s) #}
        {% include "btns/btn-two-up.twig" with {
          primary_btn: primary_btn,
          secondary_btn: secondary_btn
        } %}

      </div>
    </div>
  {% endif %}

</div>
