{# Section title -- text fields
 *
 * Fields
 * - eyebrow
 * - header
 * - text
 * - header_tag
#}

{% set header_tag = header_tag|default('h2') %}

{# Eyebrow #}
{% if eyebrow %}
  <p class="h5 ts-text-high-contrast mb-xs">{{ eyebrow }}</p>
{% endif %}

{# Header #}
{% if header_tag == 'h1' %}
<h1 class="h1 ts-text-high-contrast mb-xs">{{ header }}</h1>
{% else %}
<h2 class="h2 ts-text-high-contrast mb-xs">{{ header }}</h2>
{% endif %}

{# text #}
{% if text %}
  <div class="body-lg ts-text-md-contrast">{{ text }}</div>
{% endif %}