{# Card Grid
 *
 * Variables:
 Section title:
 * - eyebrow
 * - header
 * - text
 * - primary_btn
 * - secondary_btn
 * Cards:
 * - columns
 * - cards (array)
 * - card_view_mode
 * - block_class
#}

{% set column_class = "ts-grid-col-1 md:ts-grid-col-" ~ columns %}
{% set more_btn_text = more_btn_text ?? link.title %}
{% set more_btn_url = more_btn_url ?? link.url %}
{% set colorway = colorway ?? 'ts-bg-lt' %}

<div class="block--card-grid block--card-grid--{{ block_class }} py-block {{ colorway }} ts-lovey">
  <div class="ts-block-container">
    {% include "components/section-title/section-title.twig" with {
      eyebrow: eyebrow,
      header: header,
      text: text,
      primary_btn: primary_btn,
      primary_btn: secondary_btn,
      style: style
    } %}

    <div class="{{ column_class }} gap-sm md:gap-base">
      {% for card in cards %}
        {% embed "cards/" ~ card_view_mode ~ ".html.twig" with {
          has_image: card.featured_image ? 1 : 0,
          title: card.title,
          text: function( 'nl2br', card.excerpt ),
          link: card.link
        } %}
        {% block card_image %}
          {% include "components/image.twig" with {
            image: card.featured_image,
          } %}
        {% endblock %}
        {% endembed %}
      {% endfor %}
    </div>
  </div>
</div>