<footer id="colophon" class="site-footer">
  <div class="container--content">
    <div class="footer-content">
      <div class="footer-content__copyright flex flex-row flex-wrap lg:justify-end">
        <p class="inline-block mt-0 lg:mr-xs lg:mb-0 lh:relative">
          &copy; {{ 'now'|date('Y') }} Site
        </p>
        <div class="spacer lg:hidden"></div>
        <nav class="footer-nav-copy inline-block mt-0">
          {# {% include 'components/menu.twig' with {
            'items': menu.get_items
          } %} #}
        </nav>
      </div>
    </div>
    <!-- .footer-content -->
  </div>
  <!-- .container-content -->
</footer>
<!-- #colophon -->
{{ wp_footer }}
