{# see `templates/archive.twig` for an alternative strategy of extending templates #}
{% extends '@thinktimber/base.twig' %}

{% block content %}
    <div class="content-wrapper">
        {% for post in posts %}
            {% include ['@thinktimber/partials/tease-' ~ post.type ~ '.twig', '@thinktimber/partials/tease.twig'] %}
        {% endfor %}

        {% include '@thinktimber/molecules/pagination/display/pagination--display.twig' with {
            pagination: posts.pagination({
                show_all: false,
                mid_size: 3,
                end_size: 2
            })
        } %}
    </div>
{% endblock %}
