{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="page-landing landing-page page-{{post.slug}}" id="post-{{post.ID}}">
			{% include "components/hero.twig" %}
      <main class="landing-content">
        {% for landing_page_block in post.landing_page_content %}
          {% include 'blocks/' ~ landing_page_block.block_layout ~ '/' ~ landing_page_block.block_layout ~ '.twig' with { fields: landing_page_block.fields } %}
        {% endfor %}
      </main>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}