{# Call to Action (CTA) -- centered
 *
 * See cta.html.twig for full variables
#}

<article class="block--cta ts-lovey {{ full_bg_color }}">
  <div class="flex gap-md flex-col ts-block-container text-center {{ inset_bg_color }}">

    {# Text Wrapper #}
    <div class="">
      {% include "blocks/cta/cta--text.twig" %}
    </div>

    {# CTA #}
    {% block cta %}
      <div class="shrink-0 ">
        {# Up to Two buttons #}
        {% include "btns/btn-two-up.twig" with {
          primary_btn: primary_btn,
          secondary_btn: secondary_btn
        } %}
      </div>
    {% endblock %}

  </div>
</article>
