{# Button and Link Styles#}

{% set btnLinkStyles = [
  'btn-solid',
  'btn-outline',
  'btn-underline'
] %}

{% set sizes = [
  'lg',
  'md',
  'sm'
] %}

{% set bgColors = {
  "Dark Colorway": 'ts-bg-dk',
  "Light Colorway": 'ts-bg-lt',
  "Brand Colorway 1": 'ts-bg-brand-1',
  "Brand Colorway 2": 'ts-bg-brand-2'
}
%}

{% set svgs = {
    "before": "download",
    "after": "arrow-right",
    "none": "",
  }
%}

{% set iconBtnLinkStyles = [

] %}

{% set link_url = '/' %}
<span class="hidden bg-black bg-neutral-100 bg-neutral-500 bg-white btn--sm btn--md
btn--lg"></span>
<span class="py-xs py-2xs px-sm px-md "></span>
<p class="body-lg mt-zero">css/common/_buttons-links.css</p>
<p class="body-lg mt-zero">views/btns</p>
<p class="body-lg gray mt-sm mb-md">Buttons and links with icons are reusable components found in twig
  "views/btns"</p>
<hr class="mt-sm mb-sm">
 Button styles
<p class="utility-xs">All button and links use an included template. <br/>
  <em>See views/btns/[btn name] for templates and docs</em></p>

{# Loops through buttons, prints them on all backgrounds at all sizes #}
{% for key, bgColor in bgColors %}
  <h3 class="h5 mt-base">{{ key }}</h3>
  {% for btn in btnLinkStyles %}
    <div class="py-base {{ bgColor }}">
      {% for size in sizes %}
        <div class="block  py-xs px-md">
          {% for key, svg in svgs %}
            <div class="inline-block">
              {% include 'btns/' ~ btn ~ '.twig' with {
                link: {title: btn ~ " " ~ size, url: link_url},
                size: size,
                svg_position: key,
                link_svg_name: svg,
                icon_only: false
              } %}
            </div>
            <span class="mr-sm">
              {% if key == 'none' %}
                {% include 'btns/' ~ btn ~ '.twig' with {
                  link: {title: btn ~ " " ~ size, url: link_url},
                  size: size,
                  link_svg_name: "arrow-right",
                  icon_only: true
                } %}
              {% endif %}
            </span>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endfor %}
