<div class="p-site xl:container py-block ts-bg-dk">
  {% include ("components/section-title/section-title--example.twig") with {
    style: 'center'
  } %}
</div>

<div class="p-site xl:container my-block ts-bg-lt">
  {% include "/components/section-title/section-title--example.twig" with {
    text: "Align side-by-side (default)"
  } %}
</div>
<div class="p-site xl:container py-block ts-bg-dk">
  {% include "/components/section-title/section-title--example.twig" with {
    style: "left",
    text: "Align left"
  } %}
</div>
