{# Desktop Nav #}

<nav id="nav-main" class="nav-main nav-main--desktop hidden lg:flex flex-row" aria-label="main navigation">
  {# Top level nav #}
  {% include "organisms/header/menu-main/menu-main.twig" with { 'items': header_menu.get_items } %}

  {# Buttons#}
  <div class="nav-main__cta ml-lg flex flex-row-reverse gap-sm">
    {# CTAs #}
    {% set header_primary_cta = header_menu.get_field('primary_cta') %}
    {% include "atoms/btns/btn-two-up.twig" with {
      primary_btn: header_primary_cta,
      size: 'md'
    } %}
  </div>
</nav>
