/* Desktop navigation */

.submenu-drawer {
	transition-property: transform, display;
	transition-duration: 1s;
	display: block;
	transform: translateY(0);
	@starting-style {
		transform: translateY(-100%);
	}
}
.submenu-drawer.submenu-desktop--closed {
	display: none;
	transform: translateY(-100%);
}
