{# Menu in header, top level #}

{% if items %}
	<ul class="menu-main accessible-menu flex flex-row items-center gap-x-lg">
	{% set menu_wrapper_classes = '' %}
	{% for item in items %}
		{% set is_two_column_menu = item.meta('two_column_menu') %}
		<li class="{{ item.class }} utility-lg ts-text-high-contrast flex items-center relative">
			<a target="{{ item.target }}" class="hocus-action hocus-underline" href="{{ item.link }}">{{ item.title }}</a>
			{% if item.children %}
        {% include "atoms/btns/btn-underline.twig" with {
          link_svg_name: "chevron-down",
          size: "md",
          link_svg_classes: "submenu-dropdown-icon mb-3xs",
					add_classes: "btn-menu-dropdown"
        } %}
			{% if is_two_column_menu %}
				{% include "organisms/header/menu-main/two-col/menu-main--two-col--submenu.twig" with {
					'items': item.children
				} %}
			{% else %}
				{% include "organisms/header/menu-main/menu-main--submenu.twig" with {
					'items': item.children
				} %}
			{% endif %}
		{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
