html {
  @apply bg-gray-lt font-sans;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  margin-inline: auto;
  max-width: $screen-site-max-width;
  @apply font-sans bg-white font-light relative;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  @apply hidden;
}

fieldset {
  border: unset;
  @apply m-0 p-0;
}

img {
  @apply max-w-full;
}

ul {
  padding-left: unset;
  @apply list-none;
}

/* Table */
table {
  @apply text-left w-full;
}

td,
th {
  @apply py-2xs px-xs md:py-xs md:px-sm;
}

td.padding-vert-none,
th.padding-vert-none {
  @apply py-0;
}

dl {
  @apply mt-0;
}

dd {
  @apply ml-0;
}

th,
.filler-cell {
  @apply bg-gray-lt;
}

blockquote {
  @apply ml-0;
}

input {
  @apply font-book text-base leading-normal;
}