{# Button and Link Styles#}

{% set btnLinkStyles = [
  'btn-solid',
  'btn-outline',
  'btn-underline'
] %}

{% set sizes = [
  'lg',
  'md',
  'sm'
] %}

{% set colors = [
  'primary',
  'dk',
  'lt',
  'white'
] %}

{% set svgs = {
    "before": "download",
    "after": "arrow-right",
    "none": "",
  }
%}

{% set iconBtnLinkStyles = [

] %}

{% set link_url = '/' %}

<span class="py-xs py-2xs px-sm px-md "></span>
<h2 class="h3">Buttons and links</h2>
<p class="body-lg mt-zero">css/common/_buttons-links.css</p>
<p class="body-lg mt-zero">views/btns</p>
<p class="body-lg gray mt-sm mb-md">Buttons and links with icons are reusable components found in twig
  "views/btns"</p>
<hr class="mt-sm mb-sm">
 Button styles
<p class="utility-xs">All button and links use an included template. <br/>
  <em>See views/btns/[btn name] for templates and docs</em></p>
 Loops through btn templates
{% for btn in btnLinkStyles %}
  {% for color in colors %}
    <div class="my-lg">
      {% for size in sizes %}
        <div class="my-sm">
          {% for key, svg in svgs %}
            <div class="inline-block">
              {% include 'btns/'~ btn ~ '.twig' with {
                link: {title: btn ~ " " ~ color ~ " " ~ size, url: link_url},
                size: "btn-solid--" ~ size,
                color: "btn-solid--" ~ color,
                svg_position: key,
                link_svg_name: svg
              } %}
            </div>
            <span class="mr-sm">
              {% if key == 'none' %}
                {% include 'btns/'~ btn ~ '.twig' with {
                  link: {url: link_url},
                  size: "btn-solid--" ~ size,
                  color: "btn-solid--" ~ color,
                  link_svg_name: "arrow-right"
                } %}
              {% endif %}
            </span>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endfor %}

<div class="my-lg">
  <div class="inline-block">
    {% include 'btns/btn-solid.twig' with {
      link: {title: "", url: link_url},
      size: size,
      color: color,
      link_svg_name: 'arrow-right'
    } %}
  </div>
  <div class="inline-block">
    {% include 'btns/btn-solid.twig' with {
      link: {title: "btn-solid with icon after", url: link_url},
      size: size,
      color: color,
      link_svg_name: 'arrow-right',
      svg_position: 'after'
    } %}
  </div>
  <div class="inline-block">
    {% include 'btns/btn-solid.twig' with {
      link: {title: "btn-solid with icon before", url: link_url},
      size: size,
      color: color,
      link_svg_name: 'download',
      svg_position: 'before'
    } %}
  </div>
</div>

