{# Text colors and Weights
 *
 * Dynamic text colors that change depending on bg color
#}
{%
  set textColors = [
  'high-contrast',
  'md-contrast',
  'low-contrast',
]
%}

{% set bgColors = {
  "Dark Colorway": 'ts-bg-dk',
  "Light Colorway": 'ts-bg-lt',
  "Brand Colorway 1": 'ts-bg-brand-1',
  "Brand Colorway 2": 'ts-bg-brand-2'
}
%}
{#Pre-renders Tailwind classes so they work before they're in use.#}
<span class="hidden ts-bg-neutral-500 ts-text-md-contrast"></span>

<h3 class="h5 mb-md" id="fontmodifiers">Dynamic color palettes</h3>
<h3 class="body-sm">Text colors change based on the bg color class</h3>
<p class="body-sm mt-zero">tokens/src/color.tokens.json</p>
<p class="body-sm mt-zero">css/common/colors.css</p>
<p class="utility-xs text-high-contrast mt-sm mb-md">In twig: .ts-text-high-contrast in CSS: var
  (--color-high-contrast) </p>
{% for key, bgcolor in bgColors %}
  <h3 class="h5 mt-md">{{ key }}</h3>
  <div class="grid grid-cols-4 gap-base">
  {% for color in textColors %}
    <div class="{{ bgcolor }} col-span-1 inline-block">
      <p class="ts-text-{{ color }} font-bold utility p-base">{{ color }}</p>
    </div>
  {% endfor %}
  </div>
{% endfor %}
