{# Card Search Listing
 *
 * Seen on Search Listing.
 * Variables:
 * - image
 * - btn_tag_text
 * - title
 * - text
 * - link_url
 * - link
 * - type
 * - registration_status
 * - date_time
 * - elevation
 * - distance
 * - location
#}

<div class="card-search-listing rounded-[10px] relative ts-bg-white ts-hocus-scale py-md">
  <div class="ts-rounded-img inline-block mr-sm w-4xl">
    {{ image }}
  </div>
  <div class="inline-block">
    {% if btn_tag_text %}
{#      <div class="mb-2xs">#}
{#        {% include "btns/btn-tag.html.twig" with {#}
{#          color_way: "bg-blue-100",#}
{#          text: btn_search_listing_tag_text#}
{#        } %}#}
{#      </div>#}
    {% endif %}
    {% include "components/card-overlay-link.html.twig" with { link_url: link_url } %}
    <h3 class="h3 mb-2xs text-high-contrast">{{ title }}</h3>
    <p class="body-sm mb-2xs ts-text-high-contrast">{{ text }}</p>
    {% if small_text %}
      <div class="text-md-contrast utility-2xs">
        {{ small_text }}
      </div>
    {% endif %}
  </div>
</div>
