{# Card Person
 *
 * Variables:
 * - has_image
 * - title
 * - link
 * - link_url
#}

{% set link_url = link.url ? link.url : link %}

<div class="card-person ts-bg-card relative ts-hocus-scale">

  {# Image #}
  {% if has_image %}
    <div class="">
      {% block card_image %}
      {% endblock %}
    </div>
  {% endif %}

  {# Text Wrapper #}
  <div class="py-base">

    {# Title #}
    {% include "cards/card-overlay-link.html.twig" with { link_url: link_url } %}
    {% if title %}
      <a href="{{ link_url }}" class="ts-text-md-contrast card-title-hocus">
        <h3 class="h3 mb-sm">
          {{ title }}
        </h3>
      </a>
    {% endif %}

  </div> {# end Text Wrapper #}
</div>
