{# Card 2XL
 *
 * Seen on Poster paragraph.
 *
 * Variables:
 * - image
 * - eyebrow
 * - title
 * - text
 * - link
 * - link2
#}


{% if title or text and image %}
  <div class="card-2xl ts-my-block-sm">
    <div class="ts-grid-col-2">
      <div class="ts-rounded-img mb-base md:mb-0">
        {# Image field display should be set to 16:9 responsive image style #}
        {{ image }}
      </div>
      <div class="flex flex-col justify-center md:max-w-[600px]">
        <div>
          <div class="h6 mb-2xs text-blue-700">{{ eyebrow }}</div>
          <div class="ts-text-high-contrast h2">{{ title }}</div>
          <div class="card-2xl__text wysiwyg-wrapper ts-text-md-contrast mt-2xs mb-xs body-base">{{ text }}</div>
          <div class="flex flex-wrap gap-xs">
{#            {% if link_url %}#}
{#              <div>#}
{#                {% include '/btns/btn-solid.html.twig' with {#}
{#                  link: { title: link_title, url: link_url },#}
{#                  size: 'lg',#}
{#                } %}#}
{#              </div>#}
{#            {% endif %}#}
{#            {% if link_url_2 %}#}
{#              <div>#}
{#                {% include '/btns/btn-outline.html.twig' with {#}
{#                  link: { title: link_title_2, url: link_url_2 },#}
{#                  size: 'lg'#}
{#                } %}#}
{#              </div>#}
{#            {% endif %}#}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

