{# Section title and intro

  Variables:
  - title
  - intro
  - more_btn_text
  - more_btn_url

#}

{% if header %}
  <div class="component--header-link flex flex-col md:flex-row md:items-center gap-sm md:justify-between mb-base
  md:mb-sm ts-bg-lt">
    <div>
      <div class="h2 ts-text-high-contrast mb-xs">{{ header }}</div>
      {% if intro %}
        <div class="body-lg ts-text-md-contrast">{{ intro }}</div>
      {% endif %}
    </div>
    {% if more_btn_url %}
      <div class="md:block shrink-0">
        {% include 'btns/btn-solid.twig' with { size: 'lg', link: {title: more_btn_text, url:
          more_btn_url}
        } %}
      </div>
    {% endif %}
  </div>
{% endif %}
