{# Icon dropdown button
 * Used in main navigation
 *
#}

{# Primary values #}
{% set link = link %}
{% set add_classes = add_classes %}
{% set link_svg_name = link_svg_name %}

{# btn classes, colorway, svg name #}
{% set btn_class = "btn-dropdown ts-bg-lt p-xs" %}
{# Final set of classes #}
{% set link_classes = add_classes ? btn_class ~ ' ' ~ add_classes : btn_class %}

{% extends 'btns/btn-base.twig' %}

 {% block content %}
   {% if link.title %}
     <span class="sr-only">{{ link.title }}</span>
   {% endif %}
 {% endblock %}
{% block svg_after %}
{% endblock %}
