{# Submenu in header nav: two column layout
 *
 * Variables:
 * - two_col (default is one column)
 * - items
#}

{% if items %}
	<ul class="{{ menu_wrapper_classes }} menu-main--submenu menu-main--submenu--two-col ts-border-radius absolute left-0
	top-2xl gap-y-sm lg:gap-x-md pt-sm px-md pb-base ts-bg-lt">
	{% set menu_wrapper_classes = '' %}
	{% for item in items %}
		<li class="menu-item ts-text-high-contrast body-sm lg:min-w-[200px]">
      <a target="{{ item.target }}" class="hocus-action hocus-underline utility-lg" href="{{ item.link }}">
        {{ item.title }}</a>
			{% if item.children %}
				{% include "organisms/header/menu-main/two-col/menu-main--grandchild.twig" with {
					'items': item.children
				} %}
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
