{# Submenu in header nav
 *
 * Variables:
 * - items
#}

{% if items %}
	<ul class="{{ menu_wrapper_classes }} menu-main--submenu--grandchild gap-y-sm">
	{% for item in items %}
		<li class="menu-item ts-text-high-contrast body-base my-sm">
			<a target="{{ item.target }}" class="hocus-action hocus-underline" href="{{ item.link }}">{{ item.title }}</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}
