{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<header>
				{% set hero_fields = post.get_field('hero') %}
				{% include 'blocks/banner/banner-example.twig' with {
					banner: hero_fields.banner,
				} %}
			</header>
			<section class="article-content">
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}