{# Banner
 *
 * Configuration options:
 *  image align:
 *   - Left | left
 *   - Right | right
 *   Inset or full width
 *   align_img (left, right (default)
 *
 * Fields:
 * - eyebrow
 * - title
 * - text
 * - primary_btn
 * - secondary_btn
 * - presentation
 * - image
#}

<div class="block--banner ts-bg-lt relative ">
  <div class="xl:container p-site ">
    <div class="flex flex-col justify-center h-[800px]">
      
    {# Image #}
    <div class="absolute left-[25%] top-0 right-0 bottom-0 z-0">
      {% include 'components/image.twig' with {
        image: image,
        classes: 'aspect-square object-cover max-h-[800px] w-full',
        caption_style: "below",
        bg_figcaption: "ts-bg-lt",
        figcaption_classes: 'ts-text-low-contrast p-2xs lg:px-0 lg:pb-0'
      } %}
    </div>

    {# Text Wrapper #}
    <div class="md:w-[50%] p-base md:p-7xl relative z-2 ts-bg-lt">
        {% include "components/section-title/section-title.twig" with {
          eyebrow: eyebrow,
          header: title,
          text: text,
          primary_btn: primary_btn,
          secondary_btn: secondary_btn,
          secondary_btn: secondary_btn,
          style: "left",
        } %}
    </div>  {# Closes Text wrapper #}

    </div>
  </div>
</div>