{# Banner -- left aligned
 *
 * Configuration options:
 *  image align:
 *   - Left | left
 *   - Right | right
 *   Inset or full width
 *   align_img (left, right (default)
 *
 * Fields:
 * - eyebrow
 * - title
 * - text
 * - primary_btn
 * - secondary_btn
 * - presentation
 * - image
 * - is_hero
#}

{% set banner_height_desktop = "800px" %}
{% set banner_height_mobile = "540px" %}

<span class="hidden h-[540px] md:h-[800px]"></span>

<div class="block--banner ts-bg-lt overflow-hidden relative ts-lovey">
  <div class="xl:container p-site ">
    <div class="md:flex md:flex-col justify-center h-[{{ banner_height_mobile }}] lg:h-[{{ banner_height_desktop }}]">

    {# Image #}
    <div class="absolute h-[{{ banner_height_mobile }}] left-0 md:left-[25%] top-[25%] md:top-0
    right-0
    z-0">
      {% include 'components/image.twig' with {
        image: image,
        classes: 'aspect-square object-cover max-h-[' ~ banner_height_mobile ~ '] lg:max-h-[' ~ banner_height_desktop
        ~ '] w-full',
        caption_style: "below",
        bg_figcaption: "ts-bg-lt",
        figcaption_classes: 'ts-text-low-contrast p-2xs lg:px-0 lg:pb-0'
      } %}
    </div>

    {# Text Wrapper #}
    <div class="md:w-[50%] p-base md:p-5xl lg:p-7xl relative z-2 ts-bg-lt">
        {% include "components/section-title/section-title.twig" with {
          eyebrow: eyebrow,
          header: title,
          text: text,
          primary_btn: primary_btn,
          secondary_btn: secondary_btn,
          secondary_btn: secondary_btn,
          style: "left",
          header_tag: is_hero ? "h1" : "h2",
        } %}
    </div>  {# Closes Text wrapper #}

    </div>
  </div>
</div>