{# Card Person
 *
 * Variables:
 * - has_image
 * - title
 * - link
 * - link_url
#}

{% set link_url = link.url ? link.url : link %}

<div class="card-person relative ts-hocus-scale">

  {# Image #}
  {% if has_image %}
    {% set classes = "aspect-[2/3] object-cover w-full" %}
    <div class="">
      {% block card_image %}
      {% endblock %}
    </div>
  {% endif %}

  {# Text Wrapper #}
  <div class="py-md">

    {# Title #}
    {% include "molecules/cards/card-overlay-link.html.twig" with { link_url: link_url } %}
    {% if title %}
      <a href="{{ link_url }}" class="ts-text-high-contrast card-title-hocus">
        <h3 class="h3 mb-2xs">
          {{ title }}
        </h3>
      </a>
    {% endif %}
    {% if text %}
      <p class="body-sm ts-text-md-contrast">{{ text }}</p>
    {% endif %}

  </div> {# end Text Wrapper #}
</div>
