{# Layouts
 * All grids in use, styled in utilities.css.
#}

<div class="">
  <h2 class="h3 mb-xs">Grids</h2>
  <p class="body-sm m-zero">Defined in tailwind-grids.json. Use "xl:container p-site" for site container and padding.</p>
</div>
<h3 class="utility-xs my-sm">Wrapped in ts-grid-col-2</h3>
<div class="ts-grid-col-2">
  <div class="bg-neutral-100 p-xl"></div>
  <div class="bg-neutral-100 p-xl"></div>
</div>
<h3 class="utility-xs my-sm">Wrapped in ts-grid-col-3</h3>
<div class="ts-grid-col-3">
  <div class="bg-neutral-100 p-xl"></div>
  <div class="bg-neutral-100 p-xl"></div>
  <div class="bg-neutral-100 p-xl"></div>
</div>
<h3 class="utility-xs my-sm">Wrapped in ts-grid-col-4</h3>
<div class="ts-grid-col-4">
  <div class="bg-neutral-100 p-xl"></div>
  <div class="bg-neutral-100 p-xl"></div>
  <div class="bg-neutral-100 p-xl"></div>
  <div class="bg-neutral-100 p-xl"></div>
</div>
<h3 class="utility-xs my-sm">Wrapped in ts-grid-col-6</h3>
<div class="ts-grid-col-6">
  <div class="bg-neutral-100 p-xl"></div>
  <div class="bg-neutral-100 p-xl"></div>
  <div class="bg-neutral-100 p-xl"></div>
  <div class="bg-neutral-100 p-xl"></div>
  <div class="bg-neutral-100 p-xl"></div>
  <div class="bg-neutral-100 p-xl"></div>
</div>
<h3 class="utility-xs my-sm">Wrapped in ts-grid-7-5</h3>
<div class="ts-grid-7-5">
  <div class="bg-neutral-100 p-xl"></div>
  <div class="bg-neutral-100 p-xl"></div>
</div>
<h3 class="utility-xs my-sm">Wrapped in ts-grid-9-3</h3>
<div class="ts-grid-9-3">
  <div class="bg-neutral-100 p-xl"></div>
  <div class="bg-neutral-100 p-xl"></div>
</div>
<h3 class="utility-xs my-sm">Wrapped in ts-grid-center</h3>
<div class="ts-grid-center">
  <div class="bg-neutral-100 p-xl"></div>
</div>

