{# Banner Example #}

{% set src = site.theme.uri ~ '/assets/images/default-dark.png' %}

{% set eyebrow = "Eyebrow text" %}
{% set title = "Lorem ipsum dolor sit amet" %}
{% set text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula
  ut id  elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam." %}
{% set primary_btn = { title: 'Primary CTA', url: '/' } %}
{% set secondary_btn = { title: 'Secondary CTA', url: '/' } %}
  {% set image = {
    sizes: {
    large: ''
  },
    src: src,
    alt: 'Placeholder image',
    width: 1200,
    height: 1200,
  }
  %}

{% set title_style = "h4 ts-text-md-contrast mt-md" %}

<h3 class="{{ title_style }}">Banner: text on left</h3>
{# Text on Left #}
{% include 'organisms/blocks/banner/display/banner.html.twig' with {
  presentation: 'left',
} %}

{# Text on Right #}
<h3 class="{{ title_style }} ">Banner: text on right</h3>
{% include 'organisms/blocks/banner/display/banner.html.twig' with {
  presentation: 'right',
} %}

{# Text Floating #}
<h3 class="{{ title_style }}">Banner: text floating over image</h3>
{% include 'organisms/blocks/banner/display/banner.html.twig' with {
  presentation: 'floating',
} %}

{# Centered text #}
<h3 class="{{ title_style }}">Banner: text centered</h3>
{% include 'organisms/blocks/banner/display/banner.html.twig' %}

