/* Typography -- ONLY Gutenberg styles in this file.
 *
 * SITE-WIDE STYLES ARE SET IN TAILWIND: in tailwind-typography.json,
 * made into tailwind components in tailwind.config.js.
*/

/*@todo	Remove ability to add an H1 heading to the page */
/* H1 heading GB block styles */
h1.wp-block-heading {
	@apply h1 mt-2xl mb-md;
	color: var(--color-high-contrast);
}

/* H2 heading GB block styles */
h2.wp-block-heading {
	@apply h2 mt-lg mb-base;
	color: var(--color-high-contrast);
}

/* H3 heading GB block styles */
h3.wp-block-heading {
	@apply h3 mt-base;
	color: var(--color-high-contrast);
}

/* H4 heading GB block styles */
h4.wp-block-heading {
	@apply h4 mt-base;
	color: var(--color-high-contrast);
}

/* H5 heading GB block styles */
h5.wp-block-heading {
	@apply h5 mt-base;
	color: var(--color-high-contrast);
}

/* Pull Quote GB block styles */
.wp-block-quote {
	@apply bg-neutral-50 p-2xl my-lg;
	p {
		@apply blockquote;
	}
	cite {
		@apply body-sm block pt-sm;
	}
}

/* P, UL, OL, text link and header link styles */
.article-body,
/* In WP columns */
.wp-block-column,
/* Editor view */
.wp-block-post-content {

	/* Paragraphs */
	& > p {
		@apply body-base my-base;
		color: var(--color-high-contrast);
		}
	/* Paragraph -- Italic text */
	& > p em {
		@apply italic;
	}
	/* Bold	*/
	& > p strong {
		@apply font-bold;
	}

	/* Text links */
	& > p a,
	& > ul a,
	& > h2 a,
	& > h3 a,
	& > h4 a,
	& > h5 a {
		@apply underline-offset-4 underline;
		color: var(--color-high-contrast);
		&:hover,
		&:focus {
			color: var(--color-action);
		 }
	}

	/* Unordered List	*/
	& > ul {
		@apply body-base list-disc py-base;
		li {
			@apply list-inside my-xs;
			color: var(--color-high-contrast);
		}
	}

	/* Ordered List	*/
	& > ol {
		@apply body-base list-decimal py-md;
		li {
			@apply list-inside my-xs;
			color: var(--color-high-contrast);
		}
	}

}

/* LAYOUTS FOR GUTENBERG TEXT BLOCKS */

/* Centered layout */
.article-body {
	& > .wp-block-heading,
	& > .wp-block-quote,
	& > p,
	& > ul,
	& > ol {
		@apply p-site md:max-w-[700px] md:mx-auto;
	}
	.wp-block-image {
		@apply mx-auto;
	}
}
