/* Card hover/focus style */
.card-overlay-link:hover + .card-title-hocus,
.card-title-hocus:focus {
	text-decoration: underline;
	text-underline-offset: var(--spacer-2xs);
	transition: all var(--transition-default);
}

.hocus-underline {
	@apply hover:underline focus:underline underline-offset-4;
}

.hocus-action:hover,
.hocus-action:focus {
	color: var(--color-action);
}