figure,
figure.wp-block-image.size-full {
  img {
    width: 100%;
  }
  figcaption {
    margin-top: rem(8);
    color: var(--color-neutral-900);
    text-align: left;
  }
}

// Centers WP Image blocks on desktop
figure.wp-block-image image {
  //@apply md:mx-auto;
}
